// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 67px;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('./fonts/Roboto/Roboto-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('./fonts/Roboto/Roboto-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('./fonts/Roboto/Roboto-ThinItalic.ttf')  format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('./fonts/Roboto/Roboto-Thin.ttf')  format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 200;
    font-style: italic;
    src: url('./fonts/Roboto/Roboto-MediumItalic.ttf')  format('truetype');
}

body {
    @include primary-font();
    // font-family: "Open Sans", sans-serif;
    color: $color-default;
}