// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin primary-font() {
  font-family: 'Roboto', sans-serif !important;
  //'Open Sans', sans-serif !important;
}

@mixin smooth-transition($time){
  transition: background-color $time;
  -moz-transition: background-color $time;
  -webkit-transition: background-color $time;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}


/*
  Centrar elementos horizontalmente, verticalmente o ambos.

  La clase padre debe tener posicionamiento relativo.
  https://css-tricks.com/snippets/sass/centering-mixin/
*/
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}
