#chi-siamo {
  h2 {
    font-family: 'Roboto' !important;
    font-weight: bold;
    font-size: 2.8rem;
    color: $moss_river;
    border-bottom: 2px solid $limestone;
    padding-bottom: .5rem;
  }

  p{
    color: $moss_river;
    font-weight: 200;
    font-style: italic;
    //font-weight: 300;
    font-size: 1.25rem;
  }

  border-bottom: 4px solid $ruby_grapefruit;
}