// 
// Styles
// 

// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Components
@import "./components/buttons.scss";
@import "./components/navbar.scss";

// Sections
@import "./sections/masthead.scss";

//Mixins
@import "./mixins.scss";

// Secciones
@import "./secciones.scss";

// Global CSS
@import "./global.scss";

/**
Para todos los colores de esta lista se
crearan automaticamentes fondos y colores de texto
 */
$colors: (
        'gray-100': $gray-100,
        'gray-200': $gray-200,
        'gray-300': $gray-300,
        'gray-400': $gray-400,
        'gray-500': $gray-500,
        'gray-600': $gray-600,
        'gray-700': $gray-700,
        'gray-800': $gray-800,
        'gray-900': $gray-900,
        'black': $black,
        'color-primario': $color-primario,
        'color-venice': $venice,
        'color-limestone': $limestone,
        'color-ruby_grapefruit': $ruby_grapefruit,
        'color-rosa': $rosa,
        'color-default': $color-default
);

@each $name, $color in $colors{
  .bg-#{$name} {
    background-color: $color;
  }

  .text-color-#{$name}{
    color: $color;
  }
}


