// 
// Masthead
// 

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;

    background-image: url( $masthead-bg-img );
    //height: $masthead-height;
    //background: linear-gradient(0deg, $secondary 0%, $primary 100%);
    //background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;

    .masthead-content {
        z-index: 1;
        position: relative;

        .masthead-heading {
            font-size: 3rem;
        }

        .masthead-subheading {
            font-size: .8rem;
            font-style: italic;
        }
    }


    .carousel-item {
        height: 80vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(10rem + 55px);
        padding-bottom: 10rem;

        .masthead-content {
            .masthead-heading {
                font-size: 5rem;
            }

            .masthead-subheading {
                font-size: 2rem;
            }
        }
    }
}
